@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold tracking-wider;
}

h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-lg font-medium;
}
.navigation-card {
  @apply bg-gray-200 rounded-lg px-4 py-2 shadow-md hover:scale-105;
}

table{
  @apply w-full text-left border border-separate rounded border-slate-200;
}

th{
  @apply h-12 px-6 text-sm font-medium border-l first:border-l-0 stroke-slate-700 text-slate-700 bg-slate-100;
}

tr{
  @apply transition-colors duration-300 hover:bg-slate-50;
}

td{
  @apply h-12 px-6 text-sm transition duration-300 border-t border-l first:border-l-0 border-slate-200 stroke-slate-500 text-slate-500;
}

button.primary{
  @apply bg-indigo-500  px-4 py-2 text-white rounded-lg shadow-md hover:bg-indigo-700 disabled:bg-gray-300;
}

button.secundary{
  @apply bg-gray-500 px-4 py-2  px-4 py-2 text-white rounded-lg shadow-md hover:bg-gray-700;
}

